@import "former-kit-skin-pagarme/dist/styles/colors.css";

.row {
  display: flex;
  justify-content: space-between;
  padding-right: 128px;
}

.title {
  color: var(--color-birdperson-gray-500);
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 25px;
  margin-top: 0;
}

.subtitle {
  color: var(--color-squanchy-gray-300);
  font-size: 14px;
  margin-bottom: 16px;
}

.content {
  color: var(--color-birdperson-gray-500);
  font-size: 16px;

  & .installmentRange {
    margin: 0;
  }

  & .from {
    margin-right: 4px;
  }

  & .range {
    font-weight: bold;
  }

  & .to {
    margin-left: 4px;
  }

  & > .interestRate {
    margin: 0;

    & span {
      margin: 0 4px;
      font-weight: bold;
    }
  }
}
